In [0]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer

from tqdm import tqdm

from sklearn.preprocessing import OneHotEncoder
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from joblib import dump

In [0]:
!pip install eli5

Collecting eli5
  Downloading https://files.pythonhosted.org/packages/97/2f/c85c7d8f8548e460829971785347e14e45fa5c6617da374711dec8cb38cc/eli5-0.10.1-py2.py3-none-any.whl (105kB)
     |████████████████████████████████| 112kB 3.5MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (1.18.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from eli5) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.6/dist-packages (from eli5) (19.3.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from eli5) (2.11.1)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from eli5) (0.8.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->eli5) (0.14.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->eli5) (1.1.1)
Installing collected packages: eli5
Successfully installed eli5-0.10.1

In [0]:
import eli5

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_selection.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_selection. Anything that cannot be imported from sklearn.feature_selection is now part of the private API.
  warnings.warn(message, FutureWarning)
Using TensorFlow backend.

## Import Dataset

### Features
For each title (unique `tconst`,) we are interested in the following features:
<!-- - `region` categorical, one per title. -->
<!-- - `language` categorical, one per title. -->
- `startYear` discrete integer.
- `runtimeMinutes` discrete integer.
- `genres` categorical, multiple per title.
- The average rating of the director/directors.
- The average rating of the writer/writers.
- The average rating of the top three actors.

We want to predict:
- `averageRating` continuous between $0$ and $10$.

In [0]:
!wget -O /tmp/titles-with-ratings.pkl https://github.com/jacobthebanana/McGill-AI-Stereotyper/releases/download/1.0/titles-with-ratings.pkl
dataset = pd.read_pickle("/tmp/titles-with-ratings.pkl")
display(dataset)
dataset = dataset[["tconst", "startYear", "runtimeMinutes", "genres", "directorAverage", "writerAverage", "principalAverage", "averageRating", "numVotes"]]

--2020-03-26 17:43:54--  https://github.com/jacobthebanana/McGill-AI-Stereotyper/releases/download/1.0/titles-with-ratings.pkl
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-production-release-asset-2e65be.s3.amazonaws.com/236877689/8ac6c700-6eaa-11ea-933c-8352973b278f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200326T174354Z&X-Amz-Expires=300&X-Amz-Signature=b5b3679ecbc11d91e55ae04c4352c63e97e6d6fe0ffca9d95e2b10228a1370f3&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Dtitles-with-ratings.pkl&response-content-type=application%2Foctet-stream [following]
--2020-03-26 17:43:54--  https://github-production-release-asset-2e65be.s3.amazonaws.com/236877689/8ac6c700-6eaa-11ea-933c-8352973b278f?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20200326%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20200326T174354Z&X-Amz-Expires=300&X-Amz-Signature=b5b3679ecbc11d91e55ae04c4352c63e97e6d6fe0ffca9d95e2b10228a1370f3&X-Amz-SignedHeaders=host&actor_id=0&response-content-disposition=attachment%3B%20filename%3Dtitles-with-ratings.pkl&response-content-type=application%2Foctet-stream
Resolving github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)... 52.216.204.99
Connecting to github-production-release-asset-2e65be.s3.amazonaws.com (github-production-release-asset-2e65be.s3.amazonaws.com)|52.216.204.99|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 221412125 (211M) [application/octet-stream]
Saving to: ‘/tmp/titles-with-ratings.pkl’

/tmp/titles-with-ra 100%[===================>] 211.15M  91.5MB/s    in 2.3s

2020-03-26 17:43:57 (91.5 MB/s) - ‘/tmp/titles-with-ratings.pkl’ saved [221412125/221412125]

            tconst  startYear  ...  writerAverage principalAverage
0        tt0000001     1894.0  ...       5.606510         5.267911
1        tt0000002     1892.0  ...       6.419985         6.421509
2        tt0000003     1892.0  ...       6.419985         6.460755
3        tt0000004     1892.0  ...       6.419985         6.421509
4        tt0000005     1893.0  ...       5.606510         5.365407
...            ...        ...  ...            ...              ...
1023081  tt9916544     2019.0  ...       6.622179         6.427478
1023082  tt9916576     2019.0  ...       0.000000         0.000000
1023083  tt9916578     2019.0  ...       6.179873         6.932343
1023084  tt9916720     2019.0  ...       3.971053         5.653593
1023085  tt9916766     2019.0  ...       0.000000         0.000000

[1023086 rows x 12 columns]

## Display Dataset

In [0]:
display(dataset)

            tconst  startYear  ...  averageRating numVotes
0        tt0000001     1894.0  ...            5.6     1590
1        tt0000002     1892.0  ...            6.1      192
2        tt0000003     1892.0  ...            6.5     1257
3        tt0000004     1892.0  ...            6.2      119
4        tt0000005     1893.0  ...            6.1     2018
...            ...        ...  ...            ...      ...
1023081  tt9916544     2019.0  ...            7.2       15
1023082  tt9916576     2019.0  ...            6.4       10
1023083  tt9916578     2019.0  ...            8.5       16
1023084  tt9916720     2019.0  ...            5.5       47
1023085  tt9916766     2019.0  ...            6.7       11

[1023086 rows x 9 columns]

### Webform Generator

In [0]:
for name in dataset.columns.values:
  if name[:2] != "is":
    print("<label for=\"{}\">{} (enter a number)</label><br>".format(name, name))
    print("<input type=\"text\" id=\"{}\" name=\"{}\"><br>".format(name, name))
  else:
    print("<input type=\"checkbox\" id=\"{}\" name=\"{}\">".format(name, name))
    print("<label for=\"{}\">{}</label><br>".format(name, name))

<label for="tconst">tconst (enter a number)</label><br>
<input type="text" id="tconst" name="tconst"><br>
<label for="startYear">startYear (enter a number)</label><br>
<input type="text" id="startYear" name="startYear"><br>
<label for="runtimeMinutes">runtimeMinutes (enter a number)</label><br>
<input type="text" id="runtimeMinutes" name="runtimeMinutes"><br>
<label for="genres">genres (enter a number)</label><br>
<input type="text" id="genres" name="genres"><br>
<label for="directorAverage">directorAverage (enter a number)</label><br>
<input type="text" id="directorAverage" name="directorAverage"><br>
<label for="writerAverage">writerAverage (enter a number)</label><br>
<input type="text" id="writerAverage" name="writerAverage"><br>
<label for="principalAverage">principalAverage (enter a number)</label><br>
<input type="text" id="principalAverage" name="principalAverage"><br>
<label for="averageRating">averageRating (enter a number)</label><br>
<input type="text" id="averageRating" name="averageRating"><br>
<label for="numVotes">numVotes (enter a number)</label><br>
<input type="text" id="numVotes" name="numVotes"><br>

### Webapp Defaults

In [0]:
print("{", end="")
i = 1
for name in dataset.columns.values:
  if i%5 == 0:
      print()
  i += 1
  if name[:2] != "is":
    print("\"{}\": 0".format(name), end=", ")  # Default to zero for categorical.
  elif name in ["tconst", "genres", "averageRating", "numVotes", "tconst"]:
    continue  # We aren't supposed to look at these information.
  else:
    print("\"{}\": -1".format(name), end=", ") # All other fields are required

print("}")

{"tconst": 0, "startYear": 0, "runtimeMinutes": 0, "genres": 0,
"directorAverage": 0, "writerAverage": 0, "principalAverage": 0, "averageRating": 0, "numVotes": 0, }

## More pre-processing

### Multi-Label-Binarizer Encoding
We want to encode "genres" with binary vectors. Since these features have inequal lengths, one-hot might not be the best option. This [StackOverflow Answer](https://stackoverflow.com/questions/42391165/how-to-one-hot-encode-variant-length-features) suggested the MLB encoder, which apparently is designed for encoding features with variant lengths.

Note that these are currently comma-separated strings. We shall split them before feeding them into `sklearn.preprocessing`.

In [0]:
def split_sharky_csstr(csstr):
  if type(csstr) == type(str()):
    return csstr.split(",")
  else:
    return list()

dataset["genres"] = dataset["genres"].apply(split_sharky_csstr)

In [0]:
mlb = MultiLabelBinarizer()
mlb.fit(list(dataset["genres"]))
mlb.classes_

dataset = dataset.join(pd.DataFrame(mlb.transform(dataset["genres"]), columns=[("is" + category) for category in mlb.classes_]))
display(dataset)

            tconst  startYear  runtimeMinutes  ... isWar  isWestern  is\N
0        tt0000001     1894.0             1.0  ...     0          0     0
1        tt0000002     1892.0             5.0  ...     0          0     0
2        tt0000003     1892.0             4.0  ...     0          0     0
3        tt0000004     1892.0            12.0  ...     0          0     0
4        tt0000005     1893.0             1.0  ...     0          0     0
...            ...        ...             ...  ...   ...        ...   ...
1023081  tt9916544     2019.0            12.0  ...     0          0     0
1023082  tt9916576     2019.0            85.0  ...     0          0     0
1023083  tt9916578     2019.0             NaN  ...     0          0     0
1023084  tt9916720     2019.0            10.0  ...     0          0     0
1023085  tt9916766     2019.0            43.0  ...     0          0     0

[1023086 rows x 38 columns]

### Screen dataset
We discard the following entries:
- Entries where `runtimeMinutes` is not available.
- Entries where `directorAverage` is zero.
- Entries without a `genre`.

In [0]:
dataset["directorAverage"] = dataset["directorAverage"].replace(0.0, np.nan)
dataset["averageRating"] = dataset["averageRating"].replace(0.0, np.nan)

dataset["is\\N"] = dataset["is\\N"].replace(1, np.nan)
dataset = dataset.dropna(how="any")

dataset = dataset.drop(columns=["is\\N", "genres"])

### Categorize Ratings

In [0]:
dataset["averageRating"].describe()

count    662366.000000
mean          6.848763
std           1.348421
min           1.000000
25%           6.100000
50%           7.000000
75%           7.800000
max          10.000000
Name: averageRating, dtype: float64

In [0]:
X = dataset.drop(columns=["averageRating", "numVotes", "tconst"], inplace=False)
# X = dataset[["directorAverage", "writerAverage", "principalAverage"]]
# y_avg_rating = [[element] for element in pd.cut(dataset["averageRating"], [0.5 * i for i in range(0, 21)])]
y_avg_rating = [[element] for element in pd.cut(dataset["averageRating"], [0, 7.000000, 10])]

enc_y_avg = OneHotEncoder(handle_unknown="error")
enc_y_avg.fit(y_avg_rating)

y_avg_rating = enc_y_avg.transform(y_avg_rating).toarray()

New in Version 2: We want to ask ELI5 to explain the predictions. For that, we will scalarize the expected `y` labels.

In version 1, `y` contains a 2D binary vector ($\mathbb{B} \times \mathbb{B}$) that is equal to *either* $(0, \, 1)$ or $(1,\, 0)$. In version 2, we shall map that vector to $0$ or $1$.

In [0]:
type(y_avg_rating[1])

numpy.ndarray

In [0]:
def scalarize(binary_vector: np.ndarray) -> int :
    return np.argmax(binary_vector)

y_avg_rating = np.apply_along_axis(scalarize, 1, y_avg_rating)

AxisError: ignored

We want to know the relative size of the two categories. For example, consider the undesirable case where one category has 90% of all samples, while the other has only 10%. In that case, a 90% accuracy won't be that impressive- the model could simply predict everything to be in that 90% category.

Credits to the McGill AI Society for the following handy code snippet.

In [0]:
for i in range(2):
  print('class {}:'.format(i), 
        100 * len([0 for value in y_avg_rating if value == i])/len(y_avg_rating))

class 0: 50.43978706636512
class 1: 49.56021293363488

### Categorize Number of Votes

The procedure is quite similar as that for the average ratings.

In [0]:
dataset["numVotes"].describe()

count    6.623660e+05
mean     1.454649e+03
std      1.955575e+04
min      5.000000e+00
25%      1.100000e+01
50%      3.300000e+01
75%      1.500000e+02
max      2.198923e+06
Name: numVotes, dtype: float64

In [0]:
X = dataset.drop(columns=["averageRating", "numVotes", "tconst"], inplace=False)
y_num_votes = [[element] for element in pd.cut(dataset["numVotes"], [0, dataset["numVotes"].mean(), dataset["numVotes"].max()])]

enc_y_num = OneHotEncoder(handle_unknown="error")
enc_y_num.fit(y_num_votes)

y_num_votes = enc_y_num.transform(y_num_votes).toarray()

In [0]:
for i in range(2):
  print('class {}:'.format(i), 
        100 * len([0 for value in y_num_votes if value[i] == 1])/len(y_avg_rating))

class 0: 93.86381547362032
class 1: 6.136184526379675

## Display Dataset

In [0]:
display(dataset)

            tconst  startYear  runtimeMinutes  ...  isThriller  isWar  isWestern
0        tt0000001     1894.0             1.0  ...           0      0          0
1        tt0000002     1892.0             5.0  ...           0      0          0
2        tt0000003     1892.0             4.0  ...           0      0          0
3        tt0000004     1892.0            12.0  ...           0      0          0
4        tt0000005     1893.0             1.0  ...           0      0          0
...            ...        ...             ...  ...         ...    ...        ...
1023074  tt9916204     2019.0            42.0  ...           0      0          0
1023077  tt9916348     2019.0            67.0  ...           0      0          0
1023078  tt9916380     2019.0            43.0  ...           0      0          0
1023081  tt9916544     2019.0            12.0  ...           0      0          0
1023084  tt9916720     2019.0            10.0  ...           0      0          0

[662366 rows x 36 columns]

### Webform Generator

In [0]:
for name in dataset.columns.values:
  if name[:2] != "is":
    print("<label for=\"{}\">{} (enter a number)</label><br>".format(name, name))
    print("<input type=\"text\" id=\"{}\" name=\"{}\"><br>".format(name, name))
  else:
    print("<input type=\"checkbox\" id=\"{}\" name=\"{}\">".format(name, name))
    print("<label for=\"{}\">{}</label><br>".format(name, name))

<label for="tconst">tconst (enter a number)</label><br>
<input type="text" id="tconst" name="tconst"><br>
<label for="startYear">startYear (enter a number)</label><br>
<input type="text" id="startYear" name="startYear"><br>
<label for="runtimeMinutes">runtimeMinutes (enter a number)</label><br>
<input type="text" id="runtimeMinutes" name="runtimeMinutes"><br>
<label for="directorAverage">directorAverage (enter a number)</label><br>
<input type="text" id="directorAverage" name="directorAverage"><br>
<label for="writerAverage">writerAverage (enter a number)</label><br>
<input type="text" id="writerAverage" name="writerAverage"><br>
<label for="principalAverage">principalAverage (enter a number)</label><br>
<input type="text" id="principalAverage" name="principalAverage"><br>
<label for="averageRating">averageRating (enter a number)</label><br>
<input type="text" id="averageRating" name="averageRating"><br>
<label for="numVotes">numVotes (enter a number)</label><br>
<input type="text" id="numVotes" name="numVotes"><br>
<input type="checkbox" id="isAction" name="isAction">
<label for="isAction">isAction</label><br>
<input type="checkbox" id="isAdult" name="isAdult">
<label for="isAdult">isAdult</label><br>
<input type="checkbox" id="isAdventure" name="isAdventure">
<label for="isAdventure">isAdventure</label><br>
<input type="checkbox" id="isAnimation" name="isAnimation">
<label for="isAnimation">isAnimation</label><br>
<input type="checkbox" id="isBiography" name="isBiography">
<label for="isBiography">isBiography</label><br>
<input type="checkbox" id="isComedy" name="isComedy">
<label for="isComedy">isComedy</label><br>
<input type="checkbox" id="isCrime" name="isCrime">
<label for="isCrime">isCrime</label><br>
<input type="checkbox" id="isDocumentary" name="isDocumentary">
<label for="isDocumentary">isDocumentary</label><br>
<input type="checkbox" id="isDrama" name="isDrama">
<label for="isDrama">isDrama</label><br>
<input type="checkbox" id="isFamily" name="isFamily">
<label for="isFamily">isFamily</label><br>
<input type="checkbox" id="isFantasy" name="isFantasy">
<label for="isFantasy">isFantasy</label><br>
<input type="checkbox" id="isFilm-Noir" name="isFilm-Noir">
<label for="isFilm-Noir">isFilm-Noir</label><br>
<input type="checkbox" id="isGame-Show" name="isGame-Show">
<label for="isGame-Show">isGame-Show</label><br>
<input type="checkbox" id="isHistory" name="isHistory">
<label for="isHistory">isHistory</label><br>
<input type="checkbox" id="isHorror" name="isHorror">
<label for="isHorror">isHorror</label><br>
<input type="checkbox" id="isMusic" name="isMusic">
<label for="isMusic">isMusic</label><br>
<input type="checkbox" id="isMusical" name="isMusical">
<label for="isMusical">isMusical</label><br>
<input type="checkbox" id="isMystery" name="isMystery">
<label for="isMystery">isMystery</label><br>
<input type="checkbox" id="isNews" name="isNews">
<label for="isNews">isNews</label><br>
<input type="checkbox" id="isReality-TV" name="isReality-TV">
<label for="isReality-TV">isReality-TV</label><br>
<input type="checkbox" id="isRomance" name="isRomance">
<label for="isRomance">isRomance</label><br>
<input type="checkbox" id="isSci-Fi" name="isSci-Fi">
<label for="isSci-Fi">isSci-Fi</label><br>
<input type="checkbox" id="isShort" name="isShort">
<label for="isShort">isShort</label><br>
<input type="checkbox" id="isSport" name="isSport">
<label for="isSport">isSport</label><br>
<input type="checkbox" id="isTalk-Show" name="isTalk-Show">
<label for="isTalk-Show">isTalk-Show</label><br>
<input type="checkbox" id="isThriller" name="isThriller">
<label for="isThriller">isThriller</label><br>
<input type="checkbox" id="isWar" name="isWar">
<label for="isWar">isWar</label><br>
<input type="checkbox" id="isWestern" name="isWestern">
<label for="isWestern">isWestern</label><br>

### Webapp Defaults

In [0]:
print("{", end="")
i = 1
for name in dataset.columns.values:
  if i%5 == 0:
      print()
  i += 1

  if name[:2] == "is":
    print("\"{}\": 0".format(name), end=", ")  # Default to zero for categorical.
  elif name in ["tconst", "genres", "averageRating", "numVotes"]:
    continue  # We aren't supposed to look at these information.
  else:
    print("\"{}\": -1".format(name), end=", ") # All other fields are required

print("}")

{"startYear": -1, "runtimeMinutes": -1, "directorAverage": -1,
"writerAverage": -1, "principalAverage": -1, "isAction": 0,
"isAdult": 0, "isAdventure": 0, "isAnimation": 0, "isBiography": 0, "isComedy": 0,
"isCrime": 0, "isDocumentary": 0, "isDrama": 0, "isFamily": 0, "isFantasy": 0,
"isFilm-Noir": 0, "isGame-Show": 0, "isHistory": 0, "isHorror": 0, "isMusic": 0,
"isMusical": 0, "isMystery": 0, "isNews": 0, "isReality-TV": 0, "isRomance": 0,
"isSci-Fi": 0, "isShort": 0, "isSport": 0, "isTalk-Show": 0, "isThriller": 0,
"isWar": 0, "isWestern": 0, }

## Regression

### Average Rating

Take a look at the dataset.

We will be running a random forest autoclassifier on this dataset.

Input:
- startYear,
- runtimeMinutes, 
- directorAverage, 
- writerAverage, 
- principalAverage,
- binary-encoded categories.

Output:
- averageRating

In [0]:
display(dataset)

            tconst  startYear  runtimeMinutes  ...  isThriller  isWar  isWestern
0        tt0000001     1894.0             1.0  ...           0      0          0
1        tt0000002     1892.0             5.0  ...           0      0          0
2        tt0000003     1892.0             4.0  ...           0      0          0
3        tt0000004     1892.0            12.0  ...           0      0          0
4        tt0000005     1893.0             1.0  ...           0      0          0
...            ...        ...             ...  ...         ...    ...        ...
1023074  tt9916204     2019.0            42.0  ...           0      0          0
1023077  tt9916348     2019.0            67.0  ...           0      0          0
1023078  tt9916380     2019.0            43.0  ...           0      0          0
1023081  tt9916544     2019.0            12.0  ...           0      0          0
1023084  tt9916720     2019.0            10.0  ...           0      0          0

[662366 rows x 36 columns]

In [0]:
X_train, X_test, y_rating_train, y_rating_test = train_test_split(X, y_avg_rating, test_size=0.3, random_state=42)

clf_avg_rating_forest_10_trees_50_50 = RandomForestClassifier(verbose=2, n_estimators=100, n_jobs=-1)
clf_avg_rating_forest_10_trees_50_50.fit(X_train, y_rating_train)

print(clf_avg_rating_forest_10_trees_50_50.score(X_train, y_rating_train))
print(clf_avg_rating_forest_10_trees_50_50.score(X_test, y_rating_test))

dump(clf_avg_rating_forest_10_trees_50_50, "clf_avg_rating_forest_10_trees_50_50.joblib")

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.

building tree 2 of 100building tree 3 of 100
building tree 1 of 100

building tree 4 of 100
building tree 5 of 100
building tree 6 of 100
building tree 7 of 100
building tree 8 of 100
building tree 9 of 100
building tree 10 of 100
building tree 11 of 100
building tree 12 of 100
building tree 13 of 100
building tree 14 of 100
building tree 15 of 100
building tree 16 of 100
building tree 17 of 100
building tree 18 of 100
building tree 19 of 100
building tree 20 of 100
building tree 21 of 100
building tree 22 of 100
building tree 23 of 100
building tree 24 of 100
building tree 25 of 100
building tree 26 of 100
building tree 27 of 100
building tree 28 of 100
building tree 29 of 100
building tree 30 of 100
building tree 31 of 100
building tree 32 of 100
building tree 33 of 100
building tree 34 of 100
building tree 35 of 100
building tree 36 of 100

[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   18.9s

building tree 37 of 100
building tree 38 of 100
building tree 39 of 100
building tree 40 of 100
building tree 41 of 100
building tree 42 of 100
building tree 43 of 100
building tree 44 of 100
building tree 45 of 100
building tree 46 of 100
building tree 47 of 100
building tree 48 of 100
building tree 49 of 100
building tree 50 of 100
building tree 51 of 100
building tree 52 of 100
building tree 53 of 100
building tree 54 of 100
building tree 55 of 100
building tree 56 of 100
building tree 57 of 100
building tree 58 of 100
building tree 59 of 100
building tree 60 of 100
building tree 61 of 100
building tree 62 of 100
building tree 63 of 100
building tree 64 of 100
building tree 65 of 100
building tree 66 of 100
building tree 67 of 100
building tree 68 of 100
building tree 69 of 100
building tree 70 of 100
building tree 71 of 100
building tree 72 of 100
building tree 73 of 100
building tree 74 of 100
building tree 75 of 100
building tree 76 of 100
building tree 77 of 100
building tree 78 of 100
building tree 79 of 100
building tree 80 of 100
building tree 81 of 100
building tree 82 of 100
building tree 83 of 100
building tree 84 of 100
building tree 85 of 100
building tree 86 of 100
building tree 87 of 100
building tree 88 of 100
building tree 89 of 100
building tree 90 of 100
building tree 91 of 100
building tree 92 of 100
building tree 93 of 100
building tree 94 of 100
building tree 95 of 100
building tree 96 of 100
building tree 97 of 100
building tree 98 of 100
building tree 99 of 100
building tree 100 of 100

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:   53.7s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    2.9s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    8.3s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.

0.9962127094225028

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    1.2s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    3.5s finished

0.8068038850586281

['clf_avg_rating_forest_10_trees_50_50.joblib']

## Making inferences

In [0]:
print(X_test.columns)

Index(['startYear', 'runtimeMinutes', 'directorAverage', 'writerAverage',
       'principalAverage', 'isAction', 'isAdult', 'isAdventure', 'isAnimation',
       'isBiography', 'isComedy', 'isCrime', 'isDocumentary', 'isDrama',
       'isFamily', 'isFantasy', 'isFilm-Noir', 'isGame-Show', 'isHistory',
       'isHorror', 'isMusic', 'isMusical', 'isMystery', 'isNews',
       'isReality-TV', 'isRomance', 'isSci-Fi', 'isShort', 'isSport',
       'isTalk-Show', 'isThriller', 'isWar', 'isWestern'],
      dtype='object')

In [0]:
display(X_test[:1])
clf_avg_rating_forest_10_trees_50_50.predict(X_test[:1])
eli5.show_prediction(clf_avg_rating_forest_10_trees_50_50, X_test.iloc[:1], feature_names=list(X_test.columns))

        startYear  runtimeMinutes  ...  isWar  isWestern
905860     2016.0            23.0  ...      0          0

[1 rows x 33 columns]

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished