In [0]:
from functools import reduce
import numpy as np

In [0]:
!wget https://datasets.imdbws.com/name.basics.tsv.gz
!wget https://datasets.imdbws.com/title.akas.tsv.gz
!wget https://datasets.imdbws.com/title.basics.tsv.gz
!wget https://datasets.imdbws.com/title.crew.tsv.gz
!wget https://datasets.imdbws.com/title.principals.tsv.gz
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2020-02-10 23:52:28--  https://datasets.imdbws.com/name.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 192494986 (184M) [binary/octet-stream]
Saving to: ‘name.basics.tsv.gz’

name.basics.tsv.gz  100%[===================>] 183.58M  13.1MB/s    in 11s

2020-02-10 23:52:39 (17.0 MB/s) - ‘name.basics.tsv.gz’ saved [192494986/192494986]

--2020-02-10 23:52:40--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 176032136 (168M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 167.88M  17.0MB/s    in 8.8s

2020-02-10 23:52:49 (19.1 MB/s) - ‘title.akas.tsv.gz’ saved [176032136/176032136]

--2020-02-10 23:52:49--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 116393135 (111M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 111.00M  19.7MB/s    in 6.3s

2020-02-10 23:52:56 (17.7 MB/s) - ‘title.basics.tsv.gz’ saved [116393135/116393135]

--2020-02-10 23:52:57--  https://datasets.imdbws.com/title.crew.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46545668 (44M) [binary/octet-stream]
Saving to: ‘title.crew.tsv.gz’

title.crew.tsv.gz   100%[===================>]  44.39M  15.5MB/s    in 2.9s

2020-02-10 23:53:00 (15.5 MB/s) - ‘title.crew.tsv.gz’ saved [46545668/46545668]

--2020-02-10 23:53:00--  https://datasets.imdbws.com/title.principals.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 312640924 (298M) [binary/octet-stream]
Saving to: ‘title.principals.tsv.gz’

title.principals.ts 100%[===================>] 298.16M  13.6MB/s    in 17s

2020-02-10 23:53:18 (17.1 MB/s) - ‘title.principals.tsv.gz’ saved [312640924/312640924]

--2020-02-10 23:53:19--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 13.32.85.38, 13.32.85.88, 13.32.85.11, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|13.32.85.38|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5049594 (4.8M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   4.82M  19.0MB/s    in 0.3s

2020-02-10 23:53:19 (19.0 MB/s) - ‘title.ratings.tsv.gz’ saved [5049594/5049594]

In [0]:
!rm -rf *.tsv *.gz.*
!gzip -d *.gz
# !sed 's/tconst/titleId/g' title.akas.tsv > title.akas.tsv

In [0]:
!ls -lah

total 3.8G
drwxr-xr-x 1 root root 4.0K Feb 10 23:54 .
drwxr-xr-x 1 root root 4.0K Feb 10 21:01 ..
drwxr-xr-x 1 root root 4.0K Feb  7 17:12 .config
-rw-r--r-- 1 root root 563M Feb 10 13:17 name.basics.tsv
drwxr-xr-x 1 root root 4.0K Feb  5 18:37 sample_data
-rw-r--r-- 1 root root 975M Feb  9 13:19 title.akas.tsv
-rw-r--r-- 1 root root 530M Feb 10 13:17 title.basics.tsv
-rw-r--r-- 1 root root 203M Feb 10 13:17 title.crew.tsv
-rw-r--r-- 1 root root 1.6G Feb 10 13:17 title.principals.tsv
-rw-r--r-- 1 root root  17M Feb 10 13:17 title.ratings.tsv

In [0]:
import pandas as pd
from functools import reduce

# Reading TSV files: https://stackoverflow.com/a/34548894
actors = pd.read_csv("name.basics.tsv", sep='\t')

datasheets = []

for filename in ["akas", "basics", "crew", "ratings"]:
  filename = "title.{}.tsv".format(filename)
  datasheet = pd.read_csv(filename, sep='\t')
  datasheets.append(datasheet)
  print(filename, flush=True)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

title.akas.tsv

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

title.basics.tsv
title.crew.tsv
title.ratings.tsv

In [0]:
print(datasheets)

[            titleId  ordering  ... attributes isOriginalTitle
0         tt0000001         1  ...         \N               0
1         tt0000001         2  ...         \N               0
2         tt0000001         3  ...         \N               0
3         tt0000001         4  ...         \N               0
4         tt0000001         5  ...         \N               1
...             ...       ...  ...        ...             ...
20406112  tt9916852         3  ...         \N               0
20406113  tt9916852         4  ...         \N               0
20406114  tt9916852         5  ...         \N               0
20406115  tt9916852         6  ...         \N               0
20406116  tt9916852         7  ...         \N               0

[20406117 rows x 8 columns],             tconst  titleType  ... runtimeMinutes                    genres
0        tt0000001      short  ...              1         Documentary,Short
1        tt0000002      short  ...              5           Animation,Short
2        tt0000003      short  ...              4  Animation,Comedy,Romance
3        tt0000004      short  ...             \N           Animation,Short
4        tt0000005      short  ...              1              Comedy,Short
...            ...        ...  ...            ...                       ...
6538025  tt9916848  tvEpisode  ...             \N       Action,Drama,Family
6538026  tt9916850  tvEpisode  ...             \N       Action,Drama,Family
6538027  tt9916852  tvEpisode  ...             \N       Action,Drama,Family
6538028  tt9916856      short  ...             27                     Short
6538029  tt9916880  tvEpisode  ...             10   Animation,Comedy,Family

[6538030 rows x 9 columns],             tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
6538025  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
6538026  tt9916850  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6538027  tt9916852  nm5519375,nm5519454  nm6182221,nm1628284,nm2921377
6538028  tt9916856           nm10538645                      nm6951431
6538029  tt9916880            nm0996406            nm1482639,nm2586970

[6538030 rows x 3 columns],             tconst  averageRating  numVotes
0        tt0000001            5.6      1586
1        tt0000002            6.1       189
2        tt0000003            6.5      1245
3        tt0000004            6.2       117
4        tt0000005            6.1      1991
...            ...            ...       ...
1024140  tt9916576            6.4        10
1024141  tt9916578            8.5        15
1024142  tt9916720            5.5        47
1024143  tt9916766            6.7        11
1024144  tt9916778            6.9        17

[1024145 rows x 3 columns]]
            nconst  ...                           knownForTitles
0        nm0000001  ...  tt0043044,tt0072308,tt0053137,tt0050419
1        nm0000002  ...  tt0117057,tt0071877,tt0038355,tt0037382
2        nm0000003  ...  tt0054452,tt0059956,tt0057345,tt0049189
3        nm0000004  ...  tt0080455,tt0078723,tt0077975,tt0072562
4        nm0000005  ...  tt0050976,tt0083922,tt0050986,tt0069467
...            ...  ...                                      ...
9882280  nm9993714  ...                                tt2455546
9882281  nm9993716  ...                                       \N
9882282  nm9993717  ...                                tt8736744
9882283  nm9993718  ...                                       \N
9882284  nm9993719  ...                                       \N

[9882285 rows x 6 columns]

In [0]:
actors.dropna(inplace=True)
print(actors)

            nconst  ...                             knownForTitles
0        nm0000001  ...    tt0043044,tt0072308,tt0053137,tt0050419
1        nm0000002  ...    tt0117057,tt0071877,tt0038355,tt0037382
2        nm0000003  ...    tt0054452,tt0059956,tt0057345,tt0049189
3        nm0000004  ...    tt0080455,tt0078723,tt0077975,tt0072562
4        nm0000005  ...    tt0050976,tt0083922,tt0050986,tt0069467
...            ...  ...                                        ...
9882275  nm9993709  ...  tt11702702,tt11697102,tt8744286,tt9163854
9882279  nm9993713  ...                                  tt8325250
9882280  nm9993714  ...                                  tt2455546
9882282  nm9993717  ...                                  tt8736744
9882283  nm9993718  ...                                         \N

[7889057 rows x 6 columns]
<bound method NDFrame.head of             nconst  ...                             knownForTitles
0        nm0000001  ...    tt0043044,tt0072308,tt0053137,tt0050419
1        nm0000002  ...    tt0117057,tt0071877,tt0038355,tt0037382
2        nm0000003  ...    tt0054452,tt0059956,tt0057345,tt0049189
3        nm0000004  ...    tt0080455,tt0078723,tt0077975,tt0072562
4        nm0000005  ...    tt0050976,tt0083922,tt0050986,tt0069467
...            ...  ...                                        ...
9882275  nm9993709  ...  tt11702702,tt11697102,tt8744286,tt9163854
9882279  nm9993713  ...                                  tt8325250
9882280  nm9993714  ...                                  tt2455546
9882282  nm9993717  ...                                  tt8736744
9882283  nm9993718  ...                                         \N

[7889057 rows x 6 columns]>

In [0]:
df_merged = reduce((lambda left, right: pd.merge(left, right, left_on='titleId', right_on='tconst')), datasheets)

In [0]:
print(df_merged.writers)

In [0]:
title_rating = datasheets[-1].set_index('tconst').T.to_dict('list')

In [0]:
title_rating['tt0000001'][0]

5.6

In [0]:
# Preprocess actors
def calculate_average(titles):
  if titles == "\\N":
    return 0
  else:
    titles = titles.split(",")
    num_titles = len(titles)
    title_array = np.zeros((num_titles, 2))
    for i in range(num_titles):
      if titles[i][0] == "\\N":
        continue
      
      if titles[i] not in title_rating.keys():
        return 0

      title_array[i,:] = title_rating[titles[i]]
    
    return np.average(title_array[:,0], weights=title_array[:,1])

In [0]:
actors['knownForTitles'] = actors['knownForTitles'].apply(calculate_average)

In [0]:
print(actors)

            nconst  ... knownForTitles
0        nm0000001  ...       6.978739
1        nm0000002  ...       7.608399
2        nm0000003  ...       7.261047
3        nm0000004  ...       7.621220
4        nm0000005  ...       8.174598
...            ...  ...            ...
9882275  nm9993709  ...       0.000000
9882279  nm9993713  ...       0.000000
9882280  nm9993714  ...       7.000000
9882282  nm9993717  ...       0.000000
9882283  nm9993718  ...       0.000000

[7889057 rows x 6 columns]

In [0]:
actor_weighted_rating = actors.set_index('nconst').T.to_dict('list')

In [0]:
principals = pd.read_csv("title.principals.tsv", sep='\t')

def calculate_average_actor_rating(actors):
  if actors == "\\n":
    return 0

  list_of_actors = actors.split(',')

  average_rating = 0
  for actor in list_of_actors:
    average_rating += actor_weight_rating[actor]
  
  average_rating = average_rating / len(list_of_actors)
  return average_rating

In [0]:
actor_weighted_rating['nm0000005']

['Ingmar Bergman', '1918', '2007', 'writer,director,actor', 8.174597692864552]